.order-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    margin-top: 100px;
    margin-right: 100px;
}

.review-item-container {
    margin-left: 150px;


}

.cart-border {
    border-radius: 8px;
}